# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
MAILTO="avarab@gmail.com"
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#

#0 7      * * *  avar perl /var/www/osm.nix.is/script/download-osm-with-retry --out-dir /var/www/osm.nix.is/dump --fallback http://download.geofabrik.de/osm/europe/iceland.osm.bz2 'http://www.informationfreeway.org/api/0.5/*[bbox=-24.6333,63.1833,-13.1333,67]'

##
## avar's daily mkgmap generation
##

## osm.nix.is
0 7      * * *  avar perl /var/www/osm.nix.is/script/download-osm-with-retry --out-dir /var/www/osm.nix.is/dump --fallback http://download.geofabrik.de/osm/europe/iceland.osm.bz2
0 8      * * *  avar perl /var/www/osm.nix.is/script/generate-garmin-img-from-osm --date=$(date --iso-8601) --osm "/var/www/osm.nix.is/dump/$(date --iso-8601).osm.bz2" --min-osm-size=$((2*10**6)) --mkgmap-dir=/home/avar/src/mkgmap --osm2mp-dir=/home/avar/src/osm2mp --mapname 13314530 --description="Iceland OSM" --country-name=ICELAND --country-abbr=ICE --out-dir /var/www/osm.nix.is --out-file=Iceland.osm --out-mp=Iceland.mp
30 8      * * * avar LC_ALL=en_US.UTF8 perl /var/www/osm.nix.is/script/generate-daily-osmdiff.pl --date=$(date --iso-8601)

## berlin.osm.nix.is
0 5 * * *  avar perl /var/www/osm.nix.is/script/download-osm-with-retry --out-dir /var/www/osm.nix.is/berlin/dump --fallback http://download.geofabrik.de/osm/europe/germany/berlin.osm.bz2
0 8 * * *  avar perl /var/www/osm.nix.is/script/generate-garmin-img-from-osm --date=$(date --iso-8601) --osm "/var/www/osm.nix.is/berlin/dump/$(date --iso-8601).osm.bz2" --min-osm-size=$((2*10**6)) --mkgmap-dir=/home/avar/src/mkgmap --osm2mp-dir=/home/avar/src/osm2mp --mapname 13314540 --description="Berlin OSM" --country-name=GERMANY --country-abbr=GER --out-dir /var/www/osm.nix.is/berlin --out-file=Berlin.osm --out-mp=Berlin.mp
