#vt100 .ansi0               { color: #2e3436; }
#vt100 .ansi1               { color: #cc0000; }
#vt100 .ansi2               { color: #4e9a06; }
#vt100 .ansi3               { color: #c4a000; }
#vt100 .ansi4               { color: #3465a4; }
#vt100 .ansi5               { color: #75507b; }
#vt100 .ansi6               { color: #06989a; }
#vt100 .ansi7               { color: #d3d7cf; }
#vt100 .ansi8               { color: #555753; }
#vt100 .ansi9               { color: #ef2929; }
#vt100 .ansi10              { color: #8ae234; }
#vt100 .ansi11              { color: #fce94f; }
#vt100 .ansi12              { color: #729fcf; }
#vt100 .ansi13              { color: #ad7fa8; }
#vt100 .ansi14              { color: #34e2e2; }
#vt100 .ansi15              { color: #eeeeec; }

#vt100 .bgAnsi0             { background-color: #2e3436; }
#vt100 .bgAnsi1             { background-color: #cc0000; }
#vt100 .bgAnsi2             { background-color: #4e9a06; }
#vt100 .bgAnsi3             { background-color: #c4a000; }
#vt100 .bgAnsi4             { background-color: #3465a4; }
#vt100 .bgAnsi5             { background-color: #75507b; }
#vt100 .bgAnsi6             { background-color: #06989a; }
#vt100 .bgAnsi7             { background-color: #d3d7cf; }
#vt100 .bgAnsi8             { background-color: #555753; }
#vt100 .bgAnsi9             { background-color: #ef2929; }
#vt100 .bgAnsi10            { background-color: #8ae234; }
#vt100 .bgAnsi11            { background-color: #fce94f; }
#vt100 .bgAnsi12            { background-color: #729fcf; }
#vt100 .bgAnsi13            { background-color: #ad7fa8; }
#vt100 .bgAnsi14            { background-color: #34e2e2; }
#vt100 .bgAnsi15            { background-color: #eeeeec; }
