#vt100 .ansi8               { font-weight: bold; }
#vt100 .ansi9               { font-weight: bold; }
#vt100 .ansi10              { font-weight: bold; }
#vt100 .ansi11              { font-weight: bold; }
#vt100 .ansi12              { font-weight: bold; }
#vt100 .ansi13              { font-weight: bold; }
#vt100 .ansi14              { font-weight: bold; }
#vt100 .ansi15              { font-weight: bold; }
